:root {
    --blue-base: #0F4ABE;
    --blue-light: #2BA5DA;
    --black: #02000D;
    --white: #FDFDFD;
    --nav-bg: #F4F4F4;
    --gray: #DFDFDF;
}
#html{
    margin: 0 !important;
}
#ulnavbar{
    display: flex;
    margin: 0;
    padding: 0;
    flex-grow: 3;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.row{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--nav-bg);
}
.nav{
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 0;
    padding: .6em 1em;
    width: 100%;
    background-color: var(--nav-bg);
    filter: drop-shadow(0px 5px 10px #27272786);
    z-index: 5;
}
.career-logo{
    color: var(--black);
    font-weight: 700;
}
.finder-logo{
    color: var(--blue-base);
    font-weight: 700;
}
.input-group{
    position: unset;
}
.input-group .btn{
    position: unset;
}
.container-logo{
    flex-grow: 1;
}
.logo{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
.logo:hover{
    color: var(--purple-light);
}
.container-searchbar{
    flex-grow: 2;
}
.search-bar{
    margin: auto 0;
    padding: .7em .7em;
    width: 100%;
    border: none;
    border-radius: .7em;
    background-color: #DFDFDF;
    color: var(--purple-base);
}
.search-bar::placeholder{
    margin: 0;
    color: var(--purple-base);
}
.search-btn{
    padding: .3em .7em;
    border: none;
    background-color: #DFDFDF;
    border-radius: 1em;
}
.search-btn:hover{
    background-color: var(--purple-base);
    border-radius: 1em;
}
.search-btn:hover svg{
    color: var(--purple-light);
}
.search-btn svg{
    margin: 0;
    padding: 0;
    width: 1.2em;
    height: auto;
    color: var(--purple-base);
}
.user-btn{
    margin: auto 0;
    padding: 0;
    text-decoration: none;
    color: var(--purple-light);
    font-size: 1.3em;
    vertical-align: middle;
}
.user-btn:hover{
    color: white;
}
.user-btn:hover svg{
    color: white;
}
.user-btn svg{
    margin: 0 0 0 .5em;
    padding: 0;
    width: 1.5em;
    height: auto;
    vertical-align: middle;
    color: var(--purple-light);
}
.menu-btn-container{
    
}
.menu-btn-container svg{
    display: none;
    margin: 0;
    padding: 0;
    width: 1.5em;
    height: auto;
    color: var(--purple-light);
}
.li-search-bar{

}
.li-usernamo{

}
.purple-bg{
    background-color: var(--purple-base);
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
}
.gray-bg{
    background-color: var(--gray);
}
.card{
    display: block;
    margin: 10% 0 10% 0;
    padding: 2em;
    width: 100%;
    height: 80%;
    background-color: var(--lightgray);
    border-radius: 1em 0 0 1em;
}
.profile-card{
    display: block;
    margin: 10% 0 1% 10%;
    padding: 1em 0em 1em 1em;
    /*width: 100%;
    height: 80%;*/
    background-color: var(--lightgray);
    border-radius: 1em;
}
.portfolio-card{
    display: block;
    margin: 1% 0 1% 10%;
    padding: 1em 0em 1em 1em;
    /*width: 100%;
    height: 80%;*/
    background-color: var(--lightgray);
    border-radius: 1em;
}
.skills-card{
    display: block;
    margin: 21% 20% 1% -6%;
    padding: 1em;
    /*width: 100%;
    height: 80%;*/
    background-color: var(--lightgray);
    border-radius: 1em;
}
.more-skills-card{
    display: block;
    margin: 3% 20% 1% -6%;
    padding: 1em;
    /*width: 100%;
    height: 80%;*/
    background-color: var(--lightgray);
    border-radius: 1em;
}
.heigh100-l{
    height: 100vh;
}
.heigh100-r{
    height: 100vh;
    padding-right: 0;
}
.findme-title{
    display: block;
    width: 100%;
    color: var(--lightgray);
    font-size: 7em;
    text-align: center;
    margin: 1.5em 0 1em;
    font-weight: 700;
}
.subtitles{
    font-weight: 700;
    display: block;
    width: 100%;
    color: var(--purple-base);
    font-size: 2em;
    text-align: center;
    margin: 1.5em 0 1em;
}
.profile-subtitles{
    font-weight: 700;
    display: block;
    width: 100%;
    color: var(--purple-base);
    font-size: 1.5em;
    margin: 0.5em 0.5em;
}
.skills-subtitles{
    margin: 0.5em 1em 0.5em 2em;
}
.forgot-subtitle{
    margin: 1.5em 0 4em;
}
.signup-btn{
    background: var(--lightgray);
    color: var(--purple-base);
    margin: 0;
    padding: 1em 3em;
    border-radius: 1em;
    text-decoration: none;
    font-weight: 700;
}
.signup-btn:hover{
    background: var(--purple-light);
    color: var(--purple-base);
}
.are-new{
    color: var(--lightgray);
    font-size: 1.2em;
    padding: 1em;
}
.inputs{
    color: var(--purple-base);
    border: 0;
    border-bottom: .1em solid var(--purple-base);
    display: block;
    width: 70%;
    margin: 1em auto;

}
.forgot-password{
    color: var(--blue);
    text-decoration: none;
    width: 70%;
    margin: 1em auto;
    text-align: right;
    display: block;
}
.forgot-password:hover{
    text-decoration: underline;
}
.go-btn{
    margin: 5em auto;
    display: block;
    background: var(--orange);
    color: var(--lightgray);
    padding: .5em 3em;
    border-radius: 1em;
    text-decoration: none;
    font-weight: 700;
    border: none;
}
.send-btn{
    margin: 5em auto;
    background: var(--orange);
    color: var(--lightgray);
    padding: .5em 3em;
    border-radius: 1em;
    text-decoration: none;
    font-weight: 700;
    border: none;
    float: right;
    margin-right: 15%;
}
.send-btn:hover{
    background: var(--light-orange);
}
.back-btn{
    margin: 5em auto;
    background: var(--purple-light);
    color: var(--lightgray);
    padding: .5em 3em;
    border-radius: 1em;
    text-decoration: none;
    font-weight: 700;
    border: none;
    float: left;
    margin-left: 15%;
}
.back-btn:hover{
    color: var(--purple-base);
}
.findme-title-forgot{
    margin: 2em 0 1em;
}
.form-login{
    height: 80%;
    margin: 10% auto;
}
.form-forgot{
    height: 60%;
    margin: 10% auto;
}
.min-height{
    min-height: 100vh;
}
.main-cont-home{
    margin: 0;
    padding: 0;
}

/****HOME PAGE****/
.head-home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.7em 0 1em 0;
    padding: 0;
    height: 90vh;
    text-align: center; 
}
.head-home h1{
    margin: 0 0 .5em 0;
    padding: 0;
    font-size: 3em;
    font-weight: 700;
    color: var(--orange);
    width: 100%;
}
.header-img{
    width: 100%;
    height: 100%;
}
.header-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}
.main-container-header{
    position: absolute;
    margin: auto 0;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}
.container-card-users{
    margin: 0 auto;
    padding: 0;
}
.card-user{
    /*display: flex;
    flex-direction: row;*/
    margin: 1em 0;
    padding: 1em;
    background-color: var(--white);
    border-radius: 1em;
    filter: drop-shadow(0px 5px 5px #27272786);
}
.card-user .col-sm-3{
    padding: 0;
}
.container-photo{
    /*flex-grow: 1;*/
    margin: 0;
    margin-right: .7em;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
}
.container-photo img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.info-user{
    margin: 0;
    margin-left: .7em;
    padding: 0;
    width: auto;
    height: 100%;
    /*flex-grow: 2;*/
}
.cardLink{
    text-decoration: none;
    color: var(--black);
}
.info-user h4{
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--blue-base);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cardLink:hover h4{
    color: var(--blue-light);
}
.cardLink:hover span{
    color: var(--black);
}
.info-user a{
    text-decoration: none;
}
.info-user a:hover{
    color: var(--blue-base);
}
.info-user span{
    margin: .2em 0;
    padding: 0;
    width: 100%;
    color: var(--orange);
}
.info-user span a{
    color: var(--orange);
}
.info-user p{
    display: -webkit-box;
    margin: .2em 0;
    padding: 0;
    width: 100%;
    color: grey;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.container-categories{
    margin: 1em auto;
    padding: 0;
}
.select-box{
    width: 100%;
}
#txt-select-box{
    display: none;
}
.options-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.option{
    display: flex;
    align-items: center;
    margin: .5em 1em;
    padding: .5em 1em;
    background-color: var(--black);
    border-radius: .7em;
    text-align: center;
    cursor: pointer;
    transition: .2s all;
}
.option:hover{
    background-color: var(--blue-base);
}
.option a{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    transition: .2s all;
}

/**** FOOTER ****/
footer{
    position: sticky;
    bottom: 0;
}
footer p{
    margin: 0;
    padding: 1em 1em 1em 0;
    width: 100%;
    text-align: right;
    color: var(--purple-base);
}

/*************************MEDIA QUERIES MOBILE*************************/
@media only screen and (max-width: 480px) {
    .findme-title{
        display: block;
        width: 100%;
        margin: 1em 0 .5em;
        font-size: 3em;
    }
    .findme-title-forgot{
        margin: 2em 0 1em;
    }
    .are-new{
        font-size: 1em;
        padding: .5em;
    }
    .signup-btn{
        padding: .5em 2em;
        font-size: .7em;
    }
    .heigh100-l{
        height: 35vh;
    }
    .heigh100-r{
        height: 65vh;
    }
    .subtitles{
        font-size: 1.5em;
        margin: 1em 0 1em;
    }
    .inputs{
        width: 90%;    
    }
    .forgot-password{
        width: 90%;
        margin: .5em auto;
        font-size: .7em;
    }
    .go-btn{
        margin: 2em auto;
        font-size: .8em;
    }
    .back-btn{
        margin: 2em auto;
        font-size: .8em;
        float: none;
        display: block;
        text-align: center;
        width: fit-content;
    }
    .send-btn{
        margin: 2em auto;
        font-size: .8em;
        float: none;
        display: block;
    }
    .card{
        display: block;
        margin: 10% 5%;
        padding: 2em;
        width: 90%;
        height: 80%;
        background-color: var(--lightgray);
        border-radius: 1em;
    }
    .col-sm-6{
        padding: 0;
    }
    .card-project{
        margin: 2em auto;
        border-radius: 0;
    }
    .card-project h4{
        margin-bottom: .5em;
    }
    .author-proj svg{
        width: 2.2em;
    }
    .author-proj p{
        font-size: 2em;
    }
    .proj-description{
        font-size: 1.3em;
    }
    .container-photos{
        flex-direction: column;
    }
    .container-photos .prime-img{
        width: 100%;
    }
    .container-photos .sec-imgs{
        flex-direction: row;
        width: 100%;
    }
    .container-photos .sec-imgs img{
        width: 50%;
        height: auto;
    }
}

/*************************MEDIA QUERIES TABLET*************************/
@media only screen and (min-width:480.1px) and (max-width: 960px) {
    .findme-title{
        margin: .5em 0 0em;
        font-size: 4em;
    }
    .findme-title-forgot{
        margin: 1.5em 0 1em;
    }
    .are-new{
        font-size: 1.2em;
    }
    .signup-btn{
        padding: .5em 2em;
        font-size: .8em;
    }
    .heigh100-l{
        height: 35vh;
    }
    .heigh100-r{
        height: 65vh;
    }
    .subtitles{
        font-size: 1.5em;
        margin: 1em 0 1em;
    }
    .inputs{
        width: 90%;    
    }
    .forgot-password{
        width: 90%;
        margin: .5em auto;
        font-size: .8em;
    }
    .go-btn{
        margin: 2em auto;
        font-size: 1em;
    }
    .send-btn{
        margin: 2em auto;
        font-size: 1em;
        margin-right: 5%;
        padding: .5em 2em;
    }
    .back-btn{
        margin: 2em auto;
        font-size: 1em;
        margin-left: 5%;
        padding: .5em 2em;
    }
    .card{
        display: block;
        margin: 2% 15% 18%;
        padding: 2em;
        width: 70%;
        height: 80%;
        background-color: var(--lightgray);
        border-radius: 1em;
    }
    .col-sm-6{
        padding: 0;
        width: 100%;
    }
}