:root {
    --purple-base: #6D0B74;
    --purple-light: #D9A3DD;
    --orange: #EF830F;
    --lightgray: #FAFAFA;
    --gray: #DFDFDF;
}

#html{
    margin: 0 !important;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--gray);
}

.nav{
    position: fixed;
    margin: 0;
    padding: 1em;
    width: 100%;
    background-color: var(--purple-base);
    filter: drop-shadow(0px 5px 10px #27272786);
}

.logo{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2em;
}

.search-bar{
    margin: auto 0;
    padding: .7em .7em;
    width: 100%;
    border: none;
    border-radius: 1em;
    background-color: var(--purple-light);
    color: var(--purple-base);
}

.search-bar::placeholder{
    margin: 0;
    color: var(--purple-base);
}

.search-btn{
    background-color: var(--purple-light);
    border-radius: 1em;
}

.search-btn img{
    margin: 0;
    padding: 0;
    width: 1.5em;
    height: auto;
}

.container-btn-employee{
    display: flex;
    margin: auto 0;
    padding: 0;
    width: 100%;
    height: auto;
    justify-content: flex-end;
}

.employee-btn{
    margin: 0;
    padding: 0;
    height: fit-content;
    vertical-align: middle;
}

.employee-btn img{
    margin: 0;
    padding: 0;
    width: 2em;
    height: auto;
}

.user-btn{
    margin: auto 0;
    padding: 0;
    text-decoration: none;
    color: var(--purple-light);
    font-size: 1.3em;
    vertical-align: middle;
}

.user-btn img{
    margin: 0 0 0 .5em;
    padding: 0;
    width: 1.5em;
    height: auto;
    vertical-align: middle;
}